@model List<opg_201910_interview.Models.ClientSettingsModel>

@{
    ViewData["Title"] = "Order Page";
}

<div class="text-center">
    <h1 class="display-4">Orders</h1>
    <div>
        @ViewBag.Order        
    </div>
</div>